/* Foundation
-----------------------------*/
[class*=column]+[class*=column]:last-child {
	float: left;
}

/* Slick
-----------------------------*/
.slick-dots {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;

		button {
			display: block;
			height: 16px;
			width: 16px;
			padding: 0;
			margin: 0 8px;
			outline: none;
			box-shadow: none;
			text-indent: -9999px;
			background-color: transparent;
			border-radius: $global-rounded;
			border: solid 2px $color-gray-light;
		}

		&.slick-active {
			button {
				background-color: $color-gray-light;
			}
		}
	}
}

/* Fancybox
-----------------------------*/
.fancybox-overlay {
	background: rgba(0,0,0,0.75);

	@media #{$medium-only},
	#{$small-only} {
		background: #000;
	}
}
.fancybox-skin {
	background: transparent;
	padding: 15px !important;
	box-shadow: none !important;
}
.fancybox-wrap.fancybox-type-iframe.fancybox-opened {
	@media #{$medium-only},
	#{$small-only} {
		width: 100% !important;
		left: 0 !important;

		.fancybox-skin {
			padding: 0 !important;
		}

		.fancybox-inner {
			width: 100% !important;
		}
	}

	@media #{$medium-only} {
		.fancybox-inner {
			height: 520px !important;
		}
	}

	@media #{$small-only} {
		.fancybox-inner {
			height: 320px !important;
		}
	}
}
#fancybox-loading {
	margin-top: -30px;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: $global-rounded;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	transition: $global-animation-transition;
	opacity: 1;

	div {
		display: block;
		position: absolute;
		height: 30px;
		width: 30px;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
		background: url('/public/img/spinner-blue.png') no-repeat center center;
		animation: loadingSpinner 1s infinite ease;
	}
}
.fancybox-close {
	position: fixed;
	top: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	background: $color-blue;
	color: #fff;
	border: none;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	border-radius: $global-rounded;

	@media #{$medium-only},
	#{$small-only} {
		top: 15px;
		right: 15px;
	}

	&:hover {
		border: none;
		color: #fff;
		background: $color-blue-dark;
	}

	&::before {
		display: inline-block;
		font-family: $font-family-icon;
		font-size: rem-calc(18);
		content: '\f00d';
	}
}

/* 720kb Angular Datepicker
-----------------------------*/
._720kb-datepicker-calendar-body,
._720kb-datepicker-calendar-days-header,
._720kb-datepicker-calendar-header,
._720kb-datepicker-calendar-years-pagination-pages,
.datepicker,
[datepicker],
datepicker {
	font-family: $font-family-sans-serif;
}
._720kb-datepicker-calendar {
	border-radius: 0 !important;
	margin-top: -16px;
	margin-left: auto;
	width: 100%;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	min-width: 200px;

	.error input + & {
		margin-top: 0;
	}

	a {
		border-bottom: 0 !important;
	}

	._720kb-datepicker-calendar-day._720kb-datepicker-active,
	._720kb-datepicker-calendar-day:hover {
		background-color: $secondary-color !important;
	}

	._720kb-datepicker-calendar-header {
		background-color: $color-blue;

		a {
			color: #fff;
			border-radius: none;

			&:hover,
			&._720kb-datepicker-active {
				background-color: $color-blue-light !important;
			}
		}

		._720kb-datepicker-calendar-month {
			span {
				color: #fff !important;
			}

			a {
				&:hover {
					background-color: $color-blue-light !important;
				}
			}
		}
	}
}

._720kb-datepicker-calendar-days-header {
	background: #ebf3fe !important;

	& > div {
		width: 14.28571% !important;
	}
}

._720kb-datepicker-calendar-days-header {
	background: #ebf3fe !important;
	//border-left: solid 1px #b7d5fd;
	//border-right: solid 1px #b7d5fd;
}

/* jQuery Time Picker
-----------------------------*/
.ui-timepicker-wrapper {
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);

	.ui-timepicker-list {
		font-size: rem-calc(14);
	}
}

/* jQuery Chosen
-----------------------------*/
.chosen-container {
	font-size: rem-calc(14) !important;
	width: 100% !important;
	margin-bottom: 1rem;
}
.chosen-container-multi .chosen-choices li.search-choice {
	border-radius: 0;
	background: none;
	border: $global-border;
	font-size: rem-calc(14) !important;

	a {
		transition: none;
	}
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	font-size: rem-calc(14);
	font-family: $font-family-sans-serif;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background-image: url(../../../../bower_components/chosen/chosen-sprite.png);
	border-bottom: none;
}
.chosen-container .chosen-results li {
	font-size: rem-calc(14);

	&:hover,
	&.highlighted {
		background: $color-blue;
	}
}

.chosen-choices {
	border: none;
	background: none;
}
